<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title th:text="#{registration.user.page.title}"></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>
<div th:include="nav.html"></div>
<h1 th:text="#{registration.user.page.description}"></h1>
<div class="container">
    <form th:action="@{/register}" th:object="${userModel}" method="post">
        <div class="form-row">
            <div class="col-md-4">
                <label for="username" th:text="#{registration.user.page.username}"></label>
                <input type="text" th:field="*{username}" class="form-control" id="username"
                       name="username">
                <p class="small alert alert-danger" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></p>
            </div>
            <div class="col-md-4">
                <label for="firstName" th:text="#{registration.user.page.firstname}"></label>
                <input type="text" th:field="*{firstName}" class="form-control" id="firstName"
                       name="firstName">
                <p class="small alert alert-danger" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></p>
            </div>
            <div class="col-md-4">
                <label for="lastName" th:text="#{registration.user.page.lastname}"></label>
                <input type="text" th:field="*{lastName}" class="form-control" id="lastName"
                       name="lastName">
                <p class="small alert alert-danger" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></p>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-4">
                <label for="country" th:text="#{registration.user.page.country}"></label>
                <input type="text" th:field="*{country}" class="form-control" id="country"
                       name="country">
                <p class="small alert alert-danger" th:if="${#fields.hasErrors('country')}" th:errors="*{country}"></p>
            </div>
            <div class="col-md-4">
                <label for="city" th:text="#{registration.user.page.city}"></label>
                <input type="text" th:field="*{city}" class="form-control" id="city"
                       name="city">
                <p class="small alert alert-danger" th:if="${#fields.hasErrors('city')}" th:errors="*{city}"></p>
            </div>
            <div class="col-md-4">
                <label for="postal" th:text="#{registration.user.page.postal}"></label>
                <input type="text" th:field="*{postal}" class="form-control" id="postal"
                       name="postal">
                <p class="small alert alert-danger" th:if="${#fields.hasErrors('postal')}" th:errors="*{postal}"></p>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-4">
                <label for="street" th:text="#{registration.user.page.street}"></label>
                <input type="text" th:field="*{street}" class="form-control" id="street"
                       name="street">
                <p class="small alert alert-danger" th:if="${#fields.hasErrors('street')}" th:errors="*{street}"></p>
            </div>
            <div class="col-md-1">
                <label for="number" th:text="#{registration.user.page.number}"></label>
                <input type="text" th:field="*{number}" class="form-control" id="number"
                       name="number">
                <p class="small alert alert-danger" th:if="${#fields.hasErrors('number')}" th:errors="*{number}"></p>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-4">
                <label for="email" th:text="#{registration.user.page.email}"></label>
                <input type="text" th:field="*{email}" class="form-control" id="email"
                       name="email">
                <p class="small alert alert-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>
            </div>
            <div class="col-md-4">
                <label for="password1" th:text="#{registration.user.page.password}"></label>
                <input type="password" th:field="*{password1}" class="form-control" id="password1"
                       name="password1">
                <p class="small alert alert-danger" th:if="${#fields.hasErrors('password1')}" th:errors="*{password1}"></p>
            </div>
            <div class="col-md-4">
                <label for="password2" th:text="#{registration.user.page.repeatedPassword}"></label>
                <input type="password" th:field="*{password2}" class="form-control" id="password2"
                       name="password2">
                <p class="small alert alert-danger" th:if="${#fields.hasErrors('password2')}" th:errors="*{password2}"></p>
            </div>
        </div>
        <button class="btn btn-primary" type="submit" th:text="#{registration.user.page.register}"></button>
        <sec:csrfInput/>
    </form>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
</body>
</html>